<nav id="topbar" class="navbar bg-white border-bottom fixed-top topbar px-3">

    <!-- MOBILE -->
    <button id="mobileBtn" class="btn btn-light btn-icon btn-sm d-lg-none me-2">
        <i class="ti ti-layout-sidebar-left-expand"></i>
    </button>

    <!-- Empurra o conteúdo para a direita -->
    <div class="ms-auto">
        <ul class="list-unstyled d-flex align-items-center mb-0">
            <li class="dropdown">


            </li>
        </ul>
    </div>

</nav>