<h2>Excluir Produto</h2>

<p>Deseja realmente excluir o produto?</p>

<p><strong><%= produto.nome_pro %></strong></p>

<form action="/produtos/<%= produto.id_pro %>/excluir" method="post">
    <button type="submit" class="btn btn-danger">
        Confirmar Exclusão
    </button>

    <a href="/produtos" class="btn btn-secondary">
        Cancelar
    </a>
</form>