<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <title>Login - VeganizeTech</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
  <div class="container d-flex align-items-center justify-content-center min-vh-100">
    <div class="card" style="max-width:420px; width:100%;">
      <div class="card-body p-5">
        <div class="text-center mb-3">
          <a href="/" class="mb-4 d-inline-block">
            <img src="/public/images/logo-icon.svg" alt="Logo" width="36">
          </a>
          <h1 class="card-title mb-5 h5">Acesse sua conta</h1>
        </div>

        <% if (typeof erro !== 'undefined') { %>
          <div class="alert alert-danger"><%= erro %></div>
        <% } %>

        <form action="/login" method="POST" class="needs-validation" novalidate>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input id="email" name="email_fun" type="email" class="form-control" placeholder="nome@exemplo.com" required autofocus>
            <div class="invalid-feedback">Digite seu email.</div>
          </div>

          <div class="mb-3">
            <label for="password" class="form-label d-flex justify-content-between">
              <span>Senha</span>
              <a href="#" class="small link-primary">Esqueceu a senha?</a>
            </label>
            <input id="password" name="senha_fun" type="password" class="form-control" placeholder="Senha" required minlength="6">
            <div class="invalid-feedback">Digite sua senha.</div>
          </div>

          <button class="btn btn-primary w-100" type="submit">Acessar</button>
        </form>
        <label for=""></label>

      </div>
    </div>
  </div>

  <script